/** Main Style Sheet **/
@font-face {
  font-family: Hack;
  src: url(/assets/resources/font/Hack-Regular.ttf);
}
body {
  font-family: Hack;
  background-color: #272822;
  color: white;
  font-size: larger;
  margin-bottom: 5em;
}
a {
  text-decoration: none;
}
a:hover {
  background: rgba(0,0,0,0);
	color: #A6E22E;
}
div.topic-card a {
        position: absolute;
        padding-top: 85px;
        width: 100%; 
        height: 100%;
        color: black;
        top: 0;
        left: 0;
        text-decoration: none;
}
div.topic-card a:hover {
 background: rgba(0,0,0,0);
	color: #66D9EF;

}
.fas {
  margin-right: 15px;
  margin-left: 10px;
}
.red {
  color: #F92672;
  font-weight: bold;
}
.blue {
  color: #66D9EF;
  font-weight: bold;
}
.yellow {
  color: #E6DB74;
  font-weight: bold
}
.purple {
  color: #AE80FF;
  font-weight: bold;
}
.orange {
  color: #FD971F;
  font-weight: bold;
}
.white {
  color: white;
}
.vim-nod-holder {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  margin: auto;
}
.vim-nod-top {
  display: inline-block;
  overflow: hidden;
  background: #66D9EF;
  color: black;
  padding: 5px;
  font-weight: bold;
}
.vim-nod-left {
  background: #A6E22E;
  color: black;
  display: inline-block;
  padding: 5px;
  font-weight: bold;
}
.vim-nod-right {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
  margin-right: 1%;
}
.divider {
  background-color: #E69F66;
  width: 100%;
  height: 10px;
  margin-top: 2em;
  display: inline-block;

}
.signature {
  color: #75715E;
  padding-top: 2em;
}
.hidden {
  color: #282C34;
}
.greeting {
  color: black;
  margin-top: 2em;
  margin-bottom: 0;
  display: inline-block;
  background: #A6E22E;
  padding: 5px;
}
.topics-greeting {
  color: black;
  margin-top: 2em;
  margin-bottom: 0;
  display: inline-block;
  background: #A6E22E; 
  padding: 5px; } .headline {
  display: grid;
  grid-column-gap: 1em;
  margin: 1em 23% 0 23%;
  grid-template-areas:  "photo-holder nametag nametag"
                        "photo-holder business-card-left business-card-right";
}
.photo-holder {
  grid-area: photo-holder;
  width: 300px;
  margin-top: 1em;
  margin-right: 20px;
  height: 300px;
  border-radius: 50%;
  border-style: solid;
  border-color: #E69F66;
  background-image: url("/assets/resources/images/headline.jpg");
  background-size: 17em;
  display: block;
}
.nametag {
  margin-top: 1.5em;
  margin-bottom: -5em;
  grid-area: nametag;
}
.business-card-left {
  grid-area: business-card-left;
}
.business-card-right {
  grid-area: business-card-right;
}
.main, .topics {
  padding: 0 23% 0 23%;
}
.cards {
  display: flex;
  margin-top: 5em;
  margin-bottom: 2em;
}
.blog-header {
  color: black;
  margin-top: 1em;
  margin-bottom: 0;
  display: inline-block;
  background: #66D9EF;
  padding: 5px;
}
.topic-card {
  font-weight: bold;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 50%;
  margin: 1em;
  color: black;
  background-color: #66D9EF;
}
.topic-card:hover {
  background: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 3px #66D9EF;
}
.navbar {
  overflow: hidden;
  background-color: #272822;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.navbar a {
  display: inline-block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 17px;
}

@media screen and (max-width: 1555px) {
  .headline {
    display: block;
    text-align: center;
    margin: 1em 10% 0 10%;
  }
  .photo-holder {
   width: 300px;
   height: 300px;
   margin: auto;
  }
  .fa-code-branch {
    margin-right: 8px;
  }
  .nametag {
    display: block;
    position: relative;
    margin: 0;
  }
  .business-card-left {
    display: inline-block;
  }
  .business-card-right {
    display: inline-block;
  }
  .main, .topics {
    padding: 0 10% 0 10%;
  }
}

@media screen and (max-width: 650px) {
.cards {
    display: block;
    margin: 0;
  }
  .topics-greeting {
    margin-bottom: 1em;
  }
  .business-card-left {
    margin-bottom: -1em;
  }
  .headline {
    text-align: left;
  }
  .nametag {
    text-align: center;
  }
.topic-card {
    font-weight: bold;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 92%;
    margin: 1em;
    color: black;
    background-color: #66D9EF;
  }
}
